* {
  box-sizing: border-box;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#logo {
  width: 90px;
}
nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding-bottom: 5px;
}
ul {
  display: flex;

  text-decoration: none;
}
li {
  margin-left: 10px;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}
#homenav:hover {
  color: black;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 100px;
}

#flexy {
  display: flex;
  align-items: center;
  margin-left: 90px;
}
#Project {
  font-family: "Happy Monkey", cursive;
  font-size: 2rem;
  margin-left: 10px;
}
#homenav,
#addcat,
#addmov {
  color: white;
  font-family: "Candal", sans-serif;
  transition-duration: 0.4s;
  padding: 20px;
}

#submitBtn {
  background-color: white;
  border: none;
  width: 70px;
  border-radius: 10px;
  font-family: "Candal", sans-serif;
  margin-right: 20px;
  transition: 0.3s;
  padding: 5px;
}
#submitBtn:hover {
  color: white;
  background-color: red;
  border-radius: 10px;
  font-family: "Candal", sans-serif;
}
.user {
  display: none;
}
